In [7]:
import pandas as pd
pd.show_versions()

INSTALLED VERSIONS
------------------
commit           : None
python           : 3.7.6.final.0
python-bits      : 64
OS               : Windows
OS-release       : 10
machine          : AMD64
processor        : Intel64 Family 6 Model 58 Stepping 9, GenuineIntel
byteorder        : little
LC_ALL           : None
LANG             : None
LOCALE           : None.None

pandas           : 1.0.1
numpy            : 1.18.1
pytz             : 2019.3
dateutil         : 2.8.1
pip              : 20.0.2
setuptools       : 45.2.0.post20200210
Cython           : 0.29.15
pytest           : 5.3.5
hypothesis       : 5.5.4
sphinx           : 2.4.0
blosc            : None
feather          : None
xlsxwriter       : 1.2.7
lxml.etree       : 4.5.0
html5lib         : 1.0.1
pymysql          : None
psycopg2         : None
jinja2           : 2.11.1
IPython          : 7.12.0
pandas_datareader: None
bs4              : 4.8.2
bottleneck       : 1.3.2
fastparquet      : None
gcsfs            : None
lxml.etree       : 4.5.0
matplotlib       : 3.1.3
numexpr          : 2.7.1
odfpy            : None
openpyxl         : 3.0.3
pandas_gbq       : None
pyarrow          : None
pytables         : None
pytest           : 5.3.5
pyxlsb           : None
s3fs             : None
scipy            : 1.4.1
sqlalchemy       : 1.3.13
tables           : 3.6.1
tabulate         : None
xarray           : None
xlrd             : 1.2.0
xlwt             : 1.3.0
xlsxwriter       : 1.2.7
numba            : 0.48.0

In [2]:
data_frame=pd.read_csv('student.csv') #csv파일 읽어서 반환
data_frame

    이름  나이           주소
0  이홍빈  25  서울시 강북구 미아동
1  고길동  20  서울시 노원구 상계동
2  개나리  19  서울시 강남구 역삼동

In [5]:
type(data_frame)

pandas.core.frame.DataFrame

In [8]:
data_frame.이름 # 인덱스 설정해서 출력

0    이홍빈
1    고길동
2    개나리
Name: 이름, dtype: object

In [11]:
data_frame.head(2)
#윗줄 2개 출력(default: 5)

    이름  나이           주소
0  이홍빈  25  서울시 강북구 미아동
1  고길동  20  서울시 노원구 상계동

In [13]:
data_frame.tail(2)
# 아랫줄 2개 출력(default: 5)

    이름  나이           주소
1  고길동  20  서울시 노원구 상계동
2  개나리  19  서울시 강남구 역삼동

In [15]:
df=pd.read_csv('student.txt') # txt파일을 csv로 읽기
df

    이름  나이           주소
0  이홍빈  25  서울시 강북구 미아동
1  고길동  20  서울시 노원구 상계동
2  개나리  19  서울시 강남구 역삼동